.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  background-color: #1e1e1e;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0rem 1rem;
}

.logo {
  height: 3.45rem;
  animation: logoPopup 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  animation: slideLeft 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.85rem;
  border: none;
  transition: all 0.4s ease;
  color: #131313;
}

.github-btn:hover {
  transform: scale(1.05);
}

.github-logo {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.github-link {
  text-decoration: none;
  color: #1e1e1e;
}

.content {
  display: flex;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.shader-tabs {
  padding: 0rem 1rem 0.5rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem 0.25rem;
  position: relative;
}

.tab-btn {
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  color: rgb(250, 194, 9);
  border-color: rgb(250, 194, 9);
  border: 1px solid;
  border-bottom: none;
}

.active-tab {
  background-color: rgb(250, 194, 9);
  color: black;
  font-weight: 700;
}

.renderActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0rem 2rem 0rem 0rem;
}

.settingsSelect {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.125rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-right: 0.25rem;
}

option {
  color: #1e1e1e;
  cursor: pointer;
}

.run-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  cursor: pointer;
  padding: 0.75rem;
  background-color: rgb(250, 194, 9);
  border-radius: 0.25rem;
  font-weight: 700;
  border: none;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  margin: 0.5rem 0rem;
}

.run-btn:hover {
  transform: scale(1.05);
}

.play-icon {
  width: 1.25rem;
  margin-right: 0.25rem;
}

.decorationsOverviewRuler {
  display: none !important;
}

.overflow-hidden {
  border-right: 1px solid #eeeeee4b !important;
  height: calc(100vh - 167px);
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 119px);
}

@keyframes logoPopup {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }

  to {
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}
